.input{
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #444;
  justify-self: flex-start;
}
.input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.required{
  position: relative;
}
.required::after{
  content: '*';
  color: #f00;
  position: absolute;
  margin-left: 2px;
}
.input-error{
  font-size: 0.7em;
  color: #f00;
}
.input-hint{
  font-size: 0.7em;
  color: #999;
}
.invalid{
  border-color: #f00;
}
.valid{
  border-color: #0ebe0e;
}